<template name="userevents">
  <li class="{{#if checked}}checked{{/if}}">
    <input type="checkbox" checked="{{checked}}" class="toggle-checked">
    <span class="text"> {{title}} </span>
    <button class="delete">Remove</button>
    <p> <span class="text">  {{description}} </span> </p>
    <p> <span class="text">  {{location}} </span> </p>
    <p> <span class="text">  {{dateTime}} </span> </p>
    <p> <span class="text">  {{img}} </span> </p>
    <p> <span class="text">  {{type}} </span> </p>
  </li>
</template>
