<template name="calendar_full">
	<div class="row">
    <div class="col-lg-12">
      <div class="box">
        {{> calendar_modal}}
        <header><h5>Calendar</h5></header>
        <div id="calendar_content" class="body">
                
          <div class="row">
            <div id="calendar" class="col-lg-12">

            </div> <!-- end of calendar col-lg-12 -->
            
          </div> <!-- end of calendar content row -->
        </div> <!-- end of calendar content -->
      </div> <!-- end of box -->
    </div> <!-- end of col-lg-12 -->
  </div> <!-- end of Calendar row -->
</template>