<template name="calendar_full">
	<div class="row">
          <div class="col-lg-12">
            <div class="box">
              <header><h5>Calendar</h5></header>
              <div id="calendar_content" class="body">
                
                <div class="row">
                  <div class="col-lg-3">
                    <div class="well well-sm">
                      <div id="add-event-form">
                        <fieldset>
                          <legend>Add Custom Event</legend>
                          <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-3">
                              <input id="title" name="title" type="text" placeholder="Event Title" class="form-control input-small">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 dash_calendar_add">
                              <span class="btn glyphicon glyphicon-plus" role="button" id="add-event" aria-hidden="true"></span>
                            </div>
                          </div>
                          <div class="row"> <!-- Radio Buttons -->
                            <div class="col-lg-6">
                              <div class="radio">
                                <label>
                                  <input type="radio" name="priority" value="label label-default" checked>
                                  <span class="label label-default">default</span> 
                                </label>
                              </div>
                              <div class="radio">
                                <label>
                                  <input type="radio" name="priority" value="label label-primary">
                                  <span class="label label-primary">primary</span> 
                                </label>
                              </div>
                              <div class="radio">
                                <label>
                                  <input type="radio" name="priority" value="label label-warning">
                                  <span class="label label-warning">warning</span> 
                                </label>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="radio">
                                <label>
                                  <input type="radio" name="priority" value="label label-success">
                                  <span class="label label-success">success</span> 
                                </label>
                              </div>
                              <div class="radio">
                                <label>
                                  <input type="radio" name="priority" value="label label-info">
                                  <span class="label label-info">info</span> 
                                </label>
                              </div>
                              <div class="radio">
                                <label>
                                  <input type="radio" name="priority" value="label label-danger">
                                  <span class="label label-danger">danger</span> 
                                </label>
                              </div>
                            </div>
                          </div>  <!-- End of Radio Buttons -->
                        </fieldset>
                      </div> <!-- end of add event form -->
                    </div> <!-- end of well class -->
                    <div class="well well-sm">
                      <h5>*Drag and drop in calendar</h5>
                      <ul id='external-events' class="list-unstyled"></ul>
                    </div> <!-- end of well class -->
                  </div> <!-- end of col-lg-3 -->
                  <div id="calendar" class="col-lg-9">

                  </div> <!-- end of calendar col-lg-9 -->
                </div> <!-- end of calendar content row -->
              </div> <!-- end of calendar content -->
            </div> <!-- end of box -->
          </div> <!-- end of col-lg-12 -->
        </div> <!-- end of Calendar row -->
</template>