<template name='events_StickyView'>
	<!--<div class="row" id="frame">
      {{#each events_filtered}}-->
        <div class="col-sm-4 sticky">
          <a href="#" class="note">
            <div class="noteContent">
              <i class="pin"></i>
              <a href="{{pathFor route='event_View'}}">
                <div class="noteImgBorder"><img src={{img}} class="img-responsive thumbnail noteImg"></div>
                <div class="noteDetails">
                  <div class="noteDetails_sub ellipsis">
                    <h2 class="noteH2">{{title}}</h2>
                  </div>
                  <div class="noteDetails_sub ellipsis">
                    <span class="glyphicon glyphicon-map-marker"></span>
                      {{location}}
                  </div>
                  <div class="noteDetails_sub ellipsis">
                    <span class="glyphicon glyphicon-time"></span>
                      {{formatDate start}}
                  </div>
                   <div class="noteDetails_sub ellipsis"> 
                    <span class="glyphicon glyphicon-bookmark"></span>
                      {{category}} 
                  </div>
                  <div class="noteDetails_sub ellipsis"> 
                    <span class="glyphicon glyphicon-tags"></span>
                      {{type}} 
                  </div>
                </div> <!--end of noteDetails-->
              </a> <!--end of a href event_view -->
              <div class="noteFoot">
                <p>
                  {{#with event_Liked}}
                    {{#if currentUser}}
                      {{#if hasLiked}}
                        <span role="button" id="toggle-like" data-id="{{_id}}" class="glyphicon glyphicon-heart">{{likes}}</span>
                      {{else}}
                        <span role="button" id="toggle-like" data-id="{{_id}}" class="glyphicon glyphicon-heart-empty">{{likes}}</span>
                      {{/if}}
                    {{/if}}
                  {{/with}}
                </p>
              </div> <!--end of noteFoot -->
            </div> <!-- end of noteContent -->
          </a>  <!-- end of a note -->
        </div>
    <!--{{/each}}
    {{/if}}  
  </div>  end of row -->
</template>