<template name='events_GridView'>
  <div class="col-sm-4">
    <div class="gridContent">
      <a href="{{pathFor route='event_View'}}">
        <div class="noteImgBorder"><img src={{img}} class="img-responsive"></div>
        <div class="gridDetails">
          <div class="ellipsis">
            <h2 class="noteH2">{{title}}</h2>
          </div>
          <div class="ellipsis">
            <span class="glyphicon glyphicon-map-marker"></span>
              {{location}}
          </div>
          <div class="ellipsis">
            <span class="glyphicon glyphicon-time"></span>
              {{formatDate start}}
          </div>
          <div class="ellipsis"> 
            <span class="glyphicon glyphicon-bookmark"></span>
              {{category}} 
          </div>
          <div class="ellipsis"> 
            <span class="glyphicon glyphicon-tags"></span>
              {{type}} 
          </div>
          <span role="button" id="toggle-like" data-id="{{_id}}" class="glyphicon glyphicon-heart">{{likes}}</span>
          {{#if isOwner}}
            <br/>
          <div class="ellipsis">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="cursor:help;" title="Page views">
              ###
            </span>
          </div>
          <div class="ellipsis">
            <span class="glyphicon glyphicon-inbox" aria-hidden="true" style="cursor:help;" title="Total number of sign up">
             {{regCount}}
            </span> &nbsp;
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="cursor:help;" title="Number of pending registrations">
              {{pendingReg}}
            </span> &nbsp;
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="cursor:help;" title="Number of successful registrations">
              {{successfulReg}}
            </span> &nbsp;
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style="cursor:help;" title="Number of rejected registrations">
              {{rejectedReg}}
            </span> &nbsp;
          </div>
          {{/if}}
        </div> <!--end of noteDetails-->
      </a> <!--end of a href event_view -->
        
      {{#if isOwner}}
      <div class="gridFoot">
        <span class="dropdown">
          <span class="btn glyphicon glyphicon-pencil dropdown-toggle" data-toggle="dropdown" role="button" style="cursor:pointer;" title="Edit Event Details"></span>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Update/Edit</li>
            <li><a id="editEvent">Event Details</a></li>
            <li><a id="editRegForm"> Registration Form Details</a></li>
          </ul>
        </span>
        <span class="btn glyphicon glyphicon-bullhorn" role="button" id="eventChannel" aria-hidden="true" style="cursor:help;" title="Communication channel for Event"></span>
        <span class="btn glyphicon glyphicon-list-alt" role="button" id="registeredList" aria-hidden="true" style="cursor:help;" title="Registration list"></span>
        <a href="/download-data/{{_id}}"><span class="btn glyphicon glyphicon-download-alt" role="button" id="download" aria-hidden="true" style="cursor:help;" title="Download Registration Summary"></span></a>
        <span class="btn glyphicon glyphicon-trash" role="button" id="deleteEvent" aria-hidden="true" style="cursor:help;" title="Delete Event"></span>
      </div> <!--end of noteFoot -->
      {{/if}}
    </div> <!-- end of GridContent -->
  </div> <!-- end of col-lg-4 -->
</template>