<template name='eventForm_RegistrationForm'>
	<div class="row">
		<div class="col">
			<button type="button" class="btn btn-default" id="rf-selectAll">Select All</button> <br><br>
			
			<div class="well form-group">
				<h3> Particulars of Paticipants</h3>
				<input type="checkbox" name="rf_name" class="rf"> Name of participant <br>
				<input type="checkbox" name="rf_nationality" class="rf"> Nationality <br>
				<input type="checkbox" name="rf_gender" class="rf"> Gender <br>
				<input type="checkbox" name="rf_nric" class="rf"> NRIC <br>
				<input type="checkbox" name="rf_matric" class="rf"> Matriculation Number <br>
				<input type="checkbox" name="rf_faculty" class="rf"> Faculty <br>
				<input type="checkbox" name="rf_major" class="rf"> Major <br>
			</div>

			<div class="well form-group">
				<h3> Contact Information </h3>
				<input type="checkbox" name="rf_contact_mobile" class="rf"> Contact: Mobile <br>
				<input type="checkbox" name="rf_contact_email" class="rf"> Contact: Email <br>
			</div>

			<div class="well form-group">
				<h3> Address Information</h3>
				<input type="checkbox" name="rf_address_full" class="rf"> Full Address <br>
				<input type="checkbox" name="rf_address_region" class="rf"> Address: Region <br>
			</div>
			
			<div class="well form-group">
				<h3> Shirt Sizing Information</h3>
				<input type="checkbox" name="rf_shirtSize_sml" class="rf"> Shirt Size (SML) <br>
				<input type="checkbox" name="rf_shirtSize_123" class="rf"> Shirt Size (123) <br>
				<input type="checkbox" name="rf_shirtSize_chart" class="rf"> Shirt Sizing Chart <br>
			</div>

			<div class="well form-group">
				<h3> Misc. </h3>
				<input type="checkbox" name="rf_nokInfo" class="rf"> Next-of-kin Infomation <br>
				<input type="checkbox" name="rf_allergies" class="rf"> Allergies <br>
				<input type="checkbox" name="rf_dietaryPref" class="rf"> Dietary Preferences <br>
				<input type="checkbox" name="rf_bloodType" class="rf"> Blood Type <br>
				<input type="checkbox" name="rf_description" class="rf"> Description <br>
				<input type="checkbox" name="rf_additional" class="rf"> Additional Information <br>
			</div>

		</div>
	</div>
</template>