<template name="forgetPasswordPage">
   <div class="modal" id="forgetPasswordModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header" align="center">
          <img class="brand_pos" id="img_logo" src="/images/Logo.png">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </div>

        <div class="modal-header">
          <div class="leftContent">
            <h4 class="modal-title">Reset Password</h4>
          </div>
        </div>

        <form class="resetpassword-form">
          <div class="modal-body">
            <label for="emailAddr">E-Mail</label>
            <input type="email" id="emailAddr" name="emailAddr" class="form-control"/>
            <small>*Please enter the registered email of your account.</small>
          </div>

          <div class="modal-footer">
            <div class="leftContent">
              <a href="#" id="memberYes">Already a Member?</a>
              <br/>
              <a href="#" id="memberNo">Create New Account.</a>
            </div>
             <div class="rightContent">
              <button type="submit" class="btn btn-primary" id="submit">Reset Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
