<template name="registerPage">
   <div class="modal" id="registerModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header" align="center">
          <img class="brand_pos" id="img_logo" src="/images/Logo.png">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </div>

        <div class="modal-header">
          <div class="leftContent">
            <h4 class="modal-title">Create a New Account</h4>
          </div>
        </div>

        <form class="register-form">
          <div class="modal-body">
            <label for="name">USERNAME</label>
            <input type="text" id="userName" name="userName" class="form-control"/>

            <label for="name">E-MAIL</label>
            <input type="email" id="emailAddr" name="emailAddr" class="form-control"/>

            <label for="password">PASSWORD</label>
            <input type="password" id="password1" name="password1" class="form-control"/>

            <label for="password">CONFIRM PASSWORD</label>
            <input type="password" name="password2" class="form-control"/>

            <label for="gender">GENDER</label>
            <select id="gender" name="gender" class="form-control reg_border">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>

            <label for="age">AGE</label>
            <input type="number" name="age" min="1" max="100" value="21" class="form-control reg_border"/>
          </div>

          <div class="modal-footer">
            <div class="leftContent">
              <a href="#" id="memberYes">Already a Member?</a>
            </div>
             <div class="rightContent">
              <button type="submit" class="btn btn-primary" id="submit" {{disableBtn}}>Create Account</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
