.footer {
  /*position: relative;*/
  bottom: 0;
  width: 100%;
  height: 60px;
  /*background-color: #f5f5f5;*/
  background-color: silver;
  text-align: center;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.container_addon {
  padding-bottom: 20px;
}