.board_container {
  padding-bottom: 20px;
}

.board_subscribers {
	height: 50px;
	width: 100%;
	padding: 5px;
}

.sub_tab {
  margin-bottom: 10px;
  border-bottom: 1px solid #FF8400;
}

.sub_tab > li.active > a, 
.sub_tab > li.active > a:hover, 
.sub_tab > li.active > a:focus {
  background-color: #f3f3f3;
  border: 1px solid #FF8400;
}