<template name="userevents">
  <li class="{{#if checked}}checked{{/if}}">
    <input type="checkbox" checked="{{checked}}" class="toggle-checked">
    <span class="text"> Title: {{title}} </span>
    <p> <span class="text"> Description: {{description}} </span> </p>
    <p> <span class="text"> Location: {{location}} </span> </p>
    <p> <span class="text"> DateTime: {{dateTime}} </span> </p>
    <p> <img src="{{img}}"> </p>
    <p> <span class="text"> Event Type: {{type}} </span> </p>
    <button class="delete">Remove</button>
  </li>
</template>
